@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #dbe0f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  background: #232946;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
  padding: 20px 45px;
  border-radius: 40px;
  box-shadow: 5px 6px 14px -3px #121629;
  position: relative;
}
.nav-bar ul li {
  list-style: none;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  column-gap: 100px;
}
span.icon .pict {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  column-gap: 40px;
}
span.text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  position: absolute;
  top: 55px;
  opacity: 0;
  transform: 0.5s;
}
.nav-bar ul li a .icon {
  transition: 0.3s;
}
.nav-bar ul li.active a .icon {
  background-color: #232946;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-65px);
  outline: 15px solid #fff;
}
.nav-bar ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
