@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e78282;
}
nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #fff;
  width: 100px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.102);
}
.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo span {
  font-weight: 15px;
  padding-left: 15px;
  top: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 13px;
  display: table;
  width: 300px;
  padding: 20px;
}
li a .icon {
  position: relative;
  width: 60px;
  height: 20px;
  top: 14px;
  font-size: 2px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 8px;
  margin-left: 20px;
}
a:hover {
  background: #eee;
}
nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}
.logout {
  position: absolute;
  bottom: 0;
}
