@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #fff;
}
.select-menu {
  width: 350px;
  margin: 150px auto;
}
.select-menu .select-btn {
  display: flex;
  height: 50px;
  background: black;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  justify-content: space-between;
}
.select-btn i {
  transition: 0.3s;
}
.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu .options {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: black;
  color: #fff;
  display: none;
}
.select-menu.active .options {
  display: block;
}
.options .option {
  display: flex;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}
.options .option:hover {
  background: #f2f2f2;
  color: black;
}
.option i {
  font-size: 25px;
  margin-right: 15px;
  font-weight: 500;
}
.option .option-text {
  font-size: 15px;
}
